.imgheader {
    width: 100%;
}

#headernav {
    display: flex;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 30px;
}

header a {
    text-decoration: none;
    color: #9F9F9F;
}

.imgracoon {
    width: 308px;
    height: 203px;
    padding-right: 26px;
    padding-top: 43px;
}

header nav ul {
    display: flex;
    list-style: none;
    text-align: right;
}

article {
    display: flex;
    margin-left: 259px;
}

main h2 {
    font-size: 36px;
    line-height: 41px;
    font-family: 'Cardo', serif;
}

main article datetime {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 23px;
    color: #9F9F9F;
}

main article p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

aside {
    width: 378px;
    height: 1212px;
    float: right;
    box-shadow: 0px 4px 30px 0px rgb(0 0 0 / 5%);
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    background-color: #FBFBFB;
}

aside a {
    list-style: none;
    text-decoration: none;
    padding-left: 58px;
    padding-bottom: 17px;
    color: #9F9F9F;
}

aside h3 {
    width: 252px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: black;
    margin: auto;
    padding-right: 50px;
    padding-top: 43px;
}

aside div {
    width: 281px;
    height: 1px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #9F9F9F;
}

#logotw {
    width: 20px;
    height: 20px;
    padding-bottom: 35px;
    padding-top: 36px;
    padding-right: 65px;
}

#logofb {
    width: 20px;
    height: 20px;
    padding-bottom: 36px;
    padding-top: 35px;
    padding-right: 30px;
    padding-left: 1043px;
}

#imglogo {
    display: flex;
    flex-direction: row-reverse;
}

.accueil {
    width: 64px;
    height: 23px;
    padding-right: 110px;
    padding-left: 142px;
    padding-top: 37px;
    padding-bottom: 31px;
}

.article {
    width: 64px;
    height: 23px;
    padding-right: 110px;
    padding-top: 37px;
    padding-bottom: 31px;
    color: black;
}

.apropos {
    width: 78px;
    height: 23px;
    padding-right: 110px;
    padding-top: 37px;
    padding-bottom: 31px;
}

.contact {
    width: 69px;
    height: 23px;
    padding-right: 1173px;
    padding-top: 37px;
    padding-bottom: 31px;
}

body {
    width: 1920px
}

.art1 {
    text-align: justify;
    padding-top: 44px;
    padding-right: 218px;
}

.HT {
    padding-right: 181px;
}

.CDW {
    padding-right: 68px;
}

.AP {
    padding-right: 199px;
}

.R {
    padding-right: 168px;
}

.BP {
    padding-right: 81px;
}

@media screen and (max-width: 280px){
    
}
@media screen and (max-width: 768px){

    .imgheader{
        width: 25%;
    }
}
@media screen and (max-width: 1024px) {
    
}