ul {
    display: flex;
    background-color: #1B2430;
    color: aliceblue;
    list-style: none;
    text-align: right;
    margin: 0;
}

header {

    background-color: #1B2430;

}


#heade {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 400px;
}

header div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    align-items: center;
}

p {
    font-size: 20px;
    width: 775px;

}


#logo {
    width: 55px;
    height: 50px;
}

a {
    display: block;
    padding: 30px 30px;
    color: white;
}

header nav li {
    font-size: 17px;
}


#first {
    
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: #D6D5A8;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin-right: 26px;
    box-shadow: inset;
}

#second {
    
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}

#autre {
    
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: #816797;
    background-image: linear-gradient( rgba(129, 103, 151, 0.5),rgba(81, 85, 126, 0.5));
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin-right: 30px
}

#autre2 {
    
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

#autre3 {
    
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

#mercure {
    font-size: 36px;
    margin-bottom: 16px;
}

#venus {
    font-size: 36px;
    margin-bottom: 22px;
}

#laterre {
    font-size: 36px;
    margin-bottom: 16px;
}

#mars {
    font-size: 36px;
    margin-bottom: 21px;
}

#jupiter {
    font-size: 36px;
    margin-bottom: 16px;
}

#saturne {
    font-size: 36px;
    margin-bottom: 21px;
}

#uranus {
    font-size: 36px;
    margin-bottom: 15px;
}

#neptune {
    font-size: 36px;
    margin-bottom: 21px;
}

main section {
    display: flex;
    margin: auto;
    margin-top: 35px;
    align-items: center;
}

section {
    max-width: 1200px;
    margin: auto;

}

main{
    background-color: #FFFFFF;
}

main section img {
    width: 300px;
    height: 285px;
}


footer {

    width: 100%;
    height: 378px;
    background-color: #1B2430;
    margin:auto
}
#imgneptune{
    margin-left: 95px;
}
#imguranus{
    margin-right: 127px;
}
#imgsaturne{
    margin-left: 95px;
}
#imgjupiter{
    margin-right: 127px;
}
#imgmars{
    margin-left: 95px;
}
#imglaterre{
    margin-right: 127px;
}
#imgvenus{
    margin-left: 95px;
}
#imgmercure{
    margin-right: 127px;
}

/*h3 :first-of-type{
    font-size: 36px;
    text-align: center;
    margin: ;
}

h3 :nth-of-type(3){
    font-size: 30px;
}*/

footer p{
    text-align: center;
    margin: auto;
}


footer div nav ul
{display: flex;
    flex-direction: column;

}

.footerdiv{
    display: flex;
    justify-content: center;
}

.lesG{
    font-size: 30px;
}

.lesT{
    font-size: 30px;
}

.lesP{
    font-size: 30px;
}

body{
    font-family:  Roboto
}