ul {
    display: flex;
    background-color: #1B2430;
    color: aliceblue;
    list-style: none;
    text-align: right;
}

header {

    background-color: #1B2430;
    max-width: 1920px;
    max-height: 100px
}


#heade {
    display: block;
    max-width: 1920px;
    max-height: 427px;

}

header div {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 20px;
    width: 773.62px;
    height: 120px;
}


#logo {
    display: flex;
    width: 35px;
    height: 35px;
}

a {
    padding: 30px 30px;
}

header nav li {
    font-size: 17px;
}


#first {
    border: solid 1px;
    padding: 10px 10px;
    background-color: #D6D5A8;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
}

#second {
    border: solid 1px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 18px;
}

#gazeuse {
    border: solid 1px;
    padding: 10px 10px;
    background-color: bisque;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
}

#autre {
    border: solid 1px;
    padding: 10px 10px;
    background-color: #816797;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
}

#autre2 {
    border: solid 1px;
    padding: 10px 10px;
    background-color: black;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
}

#autre3 {
    border: solid 1px;
    padding: 10px 10px;
    background-color: black;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
}

#Mercure {
    font-size: 36px;
}

#Venus {
    font-size: 36px;
}

#LaTerre {
    font-size: 36px;
}

#Mars {
    font-size: 36px;
}

#Jupiter {
    font-size: 36px;
}

#Saturne {
    font-size: 36px;
}

#Uranus {
    font-size: 36px;
}

#Neptune {
    font-size: 36px;
}

main {
    max-width: 1219px;
    max-height: 2851px;
    margin-top: 474px;
    margin-bottom: 589px;
    margin-left: 391px;
    margin-right: 310px;
}

main section {
    display: flex;
    margin-top: 35px;
    margin-left: 250px;
}

.sectionMercure {
    max-width: 1201px;
    max-height: 294px;
    margin-left: 402px;
    margin-bottom: 3152.74px;
    margin-right: 317.38px;
    margin-top: 474px;
}

.sectionVenus {
    max-width: 1201px;
    max-height: 294px;
    margin-left: 401px;
    margin-bottom: 2795px;
    margin-right: 318px;
    margin-top: 825px;
}

.sectionLaTerre {
    max-width: 1201px;
    max-height: 294px;
    margin-left: 409px;
    margin-bottom: 2444px;
    margin-right: 310px;
    margin-top: 1176px;
}

.sectionMars {
    max-width: 1201px;
    max-height: 294px;
    margin-left: 391px;
    margin-bottom: 2077px;
    margin-right: 328px;
    margin-top: 1543px;
}

.sectionJupiter {
    max-width: 1201px;
    max-height: 294px;
    margin-left: 402px;
    margin-bottom: 1630px;
    margin-right: 317px;
    margin-top: 1990px;
}

.sectionSaturne {
    max-width: 1201px;
    max-height: 294px;
    margin-left: 401px;
    margin-bottom: 1274px;
    margin-right: 318px;
    margin-top: 2346px;
}

.sectionUranus {
    max-width: 1201px;
    max-height: 295px;
    margin-left: 253px;
    margin-bottom: 892px;
    margin-right: 466px;
    margin-top: 2727px;
}

.sectionNeptune {
    max-width: 1201px;
    max-height: 294px;
    margin-left: 402px;
    margin-bottom: 589px;
    margin-right: 317px;
    margin-top: 3031px;
}



.Mercureimg {
    width: 300px;
    height: 283.26px;
    margin-right: 127px;
    margin-bottom: 185.74px;
}


.Venusimg {
    width: 300px;
    height: 283.26px;
    margin-left: 894px;
    margin-top: 355px;
    margin-right: 25px;
    margin-bottom: 2212.74px;
}

.LaTerreimg {
    width: 300px;
    height: 283.26px;
}

.Marsimg {
    width: 300px;
    height: 283.26px;
}

.Jupiterimg {
    width: 300px;
    height: 283.26px;
}

.Saturneimg {
    width: 300px;
    height: 283.26px;
    margin-left: 732px;
    margin-bottom: 97.76;
}

.Uranusimg {
    width: 300px;
    height: 283.26px;
    margin-bottom: 137.77px;
}

.Neptuneimg {
    width: 300px;
    height: 283.26px;
    margin-left: 19.77;
    margin-top: 401.74px;
}

body {
    max-width: 1920px;
    max-height: 3914px;
}

footer {

    max-width: 1922px;
    max-height: 378px;
    background-color: #1B2430;
    margin-top: 3539px;
    margin-left: 2px;
    margin-right: 0;
    margin-bottom: 3px;
}